* {
  margin: 0;
  box-sizing: border-box;
}
.etch > div {
  height: max-content;
  height: 30px;
  display: flex;
}
.etch > div > div {
  width: 30px;
  height: 100%;
  background-color: aliceblue;
}

.eraser {
  width: 100px;
}

img {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}
.buttons .delete {
  height: fit-content;
  padding: 20px;
  font-size: 30px;
}

[class^="column"]:hover {
  background-color: rgb(205, 229, 250);
}
